body {
    background-color: #bfe4f2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    color: #284854;
}

#works {
    /*grid-template-columns: 1fr 1fr 1fr;*/
    flex-wrap: wrap;
    justify-content: space-around;
}

#resumeSkills {
    grid-template-columns: 1fr 1fr;
}

#resume, #skills {
    padding: 5px;
}

#resume {
    border-right: 2px solid #284854;
}

a {
    font-size: 1.25em;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

#works {
    margin: 15px;
}

#works > div {
    max-width: 30%;
    border: 2px solid #284854;
    margin-bottom: 10px;
}

#works > div > p, #works > div > a > h3, #works > div > h4 {
    padding-left: 5px;
    padding-right: 5px;
}

#works > div > a > h3 {
    color: #284854;
    margin-top: 10px;
    margin-bottom: 5px;
}

#works > div > a {
    font-size: 1.17em;
}

#works > div > p {
    margin-top: 5px;
}

#works img {
    max-width: 100%;
    object-fit: cover;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nav {
    background-color: white;
    color: #284854;
    text-align: left;
    padding: 5px;
    position: sticky;
    padding-bottom: 0px;
    border-bottom: 2px solid #284854;
}

#me {
	max-width: 30%;
	display: inline;
}

#welcome {
	display: inline;
}

.navClicks {
    border-right: 2px solid #284854;
    padding-right: 5px;
    padding-left: 5px;
    border-left: 2px solid #284854;
    border-top: 2px solid #284854;
}

#homeClick {
    background-color: #bfe4f2;
    border-bottom: 2px solid #bfe4f2;
}

#worksClick {
    background-color: #c7e7f4;
    border-bottom: 2px solid #284854;
}

#resumeClick {
    background-color: #d7eef7;
    border-bottom: 2px solid #284854;
}

#contactClick {
    background-color: #dff1f8;
    border-bottom: 2px solid #284854;
}

#name {
    margin-top: 0px;
    margin-bottom: 10px;
    max-width: 100%;
}

@font-face {
    font-family: Lobster;
    src: url(./Lobster/Lobster-Regular.ttf);
}

.fade-in-text {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 550px) {
    #lilNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        background-color: #284854;
    }
    #nav {
        background-color: #bfe4f2;
    }
    #works > div {
        max-width: 45%;
        min-width: 150px;
    }
    #homeClick, #resumeClick, #worksClick, #contactClick {
        background-color: #284854;
        color: #bfe4f2;
        border: 0px;
    }
	#name {
		padding: 5px;
	}
	#nav {
		padding: 0px;
        border-bottom: 0px;
        text-align: center;
	}
    #resumeSkills {
        grid-template-columns: 1fr;
    }
    #resume {
        border-right: 0px;
        border-bottom: 2px solid #284854;
    }
}